Source: busylight
Section: misc
Priority: optional
Maintainer: IT und Entwicklung - FG <kontakt@it-und-entwicklung-fg.de>
Build-Depends: debhelper, dh-make
build-arch: all

Architecture: all
Package: busylight
Version: 1.0.3
Depends: python3, python3-hid, python3-systemd
Description: A service to control kuando busylight.
